.site-header
    color: white
    min-height: 60vh
    margin-bottom: 6rem
    display: flex
    flex-direction: column

    // background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(255,255,255, .5) 30%);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(255, 255, 255, 0.2) 60%), url(../img/nature-bg-sm.jpg) no-repeat center center
    background-size: cover

    @media (min-width: $screen-md)
        background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(255, 255, 255, 0.2) 60%), url(../img/nature-bg-md.jpg) no-repeat center center
        background-size: cover
        min-height: 65vh

    @media (min-width: $screen-lg)
        background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(255, 255, 255, 0.2) 60%), url(../img/nature-bg.jpg) no-repeat center center
        background-size: cover
        min-height: 80vh

.site-nav
    position: fixed
    top: 0
    width: 100%
    padding: 0.5rem 1rem
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 2rem !important
    background: rgba(35, 57, 71, 0.95)

    .logo
        filter: invert(100%)

    .nav-logo
        display: none

    .nav-logo.is-active
        opacity: 0.5
        filter: invert(50%)

        @media (min-width: $screen-sm)
            transition: opacity 2s ease-in
            display: block
            padding: 0 15rem 0rem 15rem

    svg
        color: white
        padding: 0.5rem 0.75rem
        border-radius: 8px
        transition: background 0.15s ease-in

        &:hover
            color: white
            background: grey

    .nav-menu
        padding-top: 0

        // align-items: center
        width: 60%
        background: rgba(35, 57, 71, 0.95)
        font-size: 1.5rem
        text-align: right
        position: absolute
        top: 79px
        right: 0
        height: 100vh
        transition: margin-right 0.3s ease-in-out
        margin-right: -100%

        @media only screen and (min-width: $screen-md)
            transition: margin-top 0.4s ease-out
            display: flex
            background: rgba(35, 57, 71, 1)
            flex-direction: column
            align-items: center
            margin-right: 0
            width: 100%
            height: 40%
            top: 0
            margin-top: calc(-100vh + 2rem)

            ul
                max-width: 600px
                max-height: 80px
                display: flex
                flex-wrap: wrap
                margin: 0 auto
                justify-content: space-around
                align-items: center
                text-align: center
                padding-top: 2rem
                border-top: 1px solid rgba(255, 255, 255, 0.4)

            li
                width: 25%
                padding: 1rem 1rem
                font-size: 1.125rem

            a, a:visited
                color: white

    .nav-menu.is-active
        margin-right: 0

        @media only screen and (min-width: $screen-md)
            margin-top: 0
            padding-top: 2rem

    #close-btn
        position: relative
        top: -80px
        left: 280px
        width: 60px
        fill: rgba(255, 255, 255, 0.6)

        &:hover
            background: none
            fill: white

    li
        padding: 0.75rem 1.5rem

        a:hover
            color: #b98717

    @media only screen and (min-width: $screen-md)
        margin-bottom: 6rem !important
        background: none
        border: none
        position: static

        a, a:visited
            color: #435662

            &:hover
                color: lightgrey

        .logo
            filter: invert(0)

        svg
            color: #435662

    @media only screen and (min-width: $screen-lg)
        padding: 0.5rem 0
        margin-bottom: 15rem !important

.action-links
    margin-left: auto

    // margin-right: 1.5rem

    a, a:visited
        margin-right: 0.75rem
        min-width: 70px
        padding: 0.5rem 0.75rem
        border-radius: 8px
        transition: all 0.15s ease-in-out

        &:last-of-type
            margin-right: 0

        &:hover
            transition: all 0.15s ease-in-out
            color: white
            background: grey

        @media only screen and (min-width: $screen-md)
            background: none

            &:hover
                color: darkgrey
                background: none

.site-nav button
    padding: 0
    background: none
    border: none

.site-nav svg
    width: 50px

.hero
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center
    padding: 0.25rem
    margin-top: 10rem !important
    text-shadow: 1px 2px 2px black

    h2
        font-size: 2.5rem
        margin-bottom: 2.25rem

    aside
        font-size: 0.7rem
        text-transform: uppercase

    @media only screen and (min-width: $screen-md)
        margin-top: 80px !important

.call-to-action
    text-shadow: none

.hero-fine-print
    text-decoration: underline
